body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: aliceblue;
    font-family: sans-serif;
}

.btn{
    background-color: pink;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    color: #000;
    position: relative;
    overflow: hidden;
}

.btn::before{
    content: "";
    position: absolute;
    background-color: orangered;
    width: 10px; 
    /* it can be set to 0 if you dont want any mouse effect  */
    height: 10px;
    left:var(--xPos);
    top: var(--yPos);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: width .5s ,height .5s;
    
}
.btn span{
    position: relative;
    z-index: 1;
}
.btn:hover::before{
    width: 300px;
    height: 300px;

}